

#form-pheno .typeahead__list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

    .row .row-spacer {
        padding-top:10px;
    }

        /*																																															/*
         * Row with equal height columns
         * --------------------------------------------------
         */
        .row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
        }


        /* D3 style */
        #fact-svg-chart            .chart {
        }

        #fact-svg-chart            .plot-content text {
            font-family: 'Ubuntu', sans-serif;
        }

        #fact-svg-chart            .axis line, .axis path {
            shape-rendering: auto;
            stroke: black;
            fill: none;
        }

        #fact-svg-chart            .centered-checkbox {
            vertical-align: middle !important;
            margin: 0px !important;
            font-weight: normal;
        }

        #fact-svg-chart            #cursor-status {
            display: none;
            position: absolute;
            background-color: rgba(228, 255, 136, 0.3);
            pointer-events: none;
            white-space: nowrap;
        }

        #fact-svg-chart            #cursor-status td {
            border: 2px solid lightgrey;
        }

        #fact-svg-chart            .separator-line {
            stroke: lightgray;
        }

        #fact-svg-chart            .plot-title {
            font-size: x-large !important;
        }

        #fact-svg-chart            .axis-label {
            font-size: large !important;
        }

        #fact-svg-chart            .whiskers {
            stroke: black;
            stroke-width: 1px;
        }

        /*

        #fact-svg-chart            .data-point {
                        fill: rgba(70, 130, 180, 0.25);
                    }

        #fact-svg-chart            .circle-data-point {
                        fill:whitesmoke;
                        stroke: steelblue;
                          stroke-width: 1px;
                          r: 2px;
            shape-rendering: auto;

                    }
        */
        #fact-svg-chart .x-axis { font-family: 'Ubuntu', sans-serif; font-size: 10px; fill: black; font-weight:bold; }
        #fact-svg-chart .x-axis-label { font-family: 'Ubuntu', sans-serif; font-size: 16px; fill: black; font-weight:bold; }
        #fact-svg-chart .x-axis line { fill: none; stroke: black; shape-rendering: auto; }
        #fact-svg-chart .x.axis path { fill: none; stroke: none; shape-rendering: auto; }
        #fact-svg-chart .y-axis { font-family: 'Ubuntu', sans-serif; font-size: 10px; fill:black; font-weight:bold; }
        #fact-svg-chart .y-axis line { fill: none; stroke: white; shape-rendering: auto; }
        #fact-svg-chart .y-axis path { fill: none; stroke: none; shape-rendering: auto; }
        #fact-svg-chart .y-axis-label { font-family: 'Ubuntu', sans-serif; font-size: 16px; fill:black; font-weight:bold; }



        .female {
            fill: rgb(0,191,196);
            /*stroke: black;*/
            /*stroke-width: 1px;*/
        }
        .male {
            fill: rgb(248,118,109);
            /*stroke: black;*/
            /*stroke-width: 1px;*/
        }


        #fact-svg-chart	   .whiskers  {
            stroke-width: 3;
        }

/*
        .highcharts-tooltip-box {
	fill: white;
	fill-opacity: 0.4;
	stroke-width: 0;
}
*/